<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <object>
        <div class="header">
            <div class="header-row1">
                <div class="row1-left">
                    <div class="email-header">
                        <i class="fa-solid fa-at"></i>
                        <a href="mailto: info@gameon.hr">info@gameon.hr</a>
                    </div>
                    <div class="telefon-header">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel: 0997896854">099 789 6854</a>
                    </div>
                </div>
                <div class="row1-middle">
                    <i class="socials fa-brands fa-facebook"></i>
                    <i class="socials fa-brands fa-instagram"></i>
                    <i class="socials fa-brands fa-twitter"></i>
                    <i class="socials fa-brands fa-youtube"></i>
                </div>
                <div class="row1-right">
                    <div class="search">
                        <input type="text" placeholder="Pretraži..." name="searchInput">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="header-row2">
                <div class="logo">
                    <a href="../index.html"><img src="../images/logo.png" alt="logo"></a>
                </div>
                <div class="nav">
                    <ul>
                        <li>Naslovna</li>
                        <li>O nama</li>
                        <li>Blog</li>
                        <li>Kontakt</li>
                    </ul>
                </div>
            </div>
        </div>
    </object>
</body>
</html>