<div class="container-fluid d-flex flex-row justify-content-between main-bg-color align-items-center p-2">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="email-header d-flex flex-row justify-content-center align-items-center ms-3 me-0">
            <i class="bi bi-envelope-at-fill me-1"></i>
            <a class="text-black text-decoration-none" href="mailto: info@gameon.hr">info@gameon.hr</a>
        </div>
        <div class="telefon-header d-flex flex-row justify-content-center align-items-center mx-3">
            <i class="bi bi-telephone-fill me-1"></i>
            <a class="text-black text-decoration-none" href="tel: 0997896854">099 789 6854</a>
        </div>
    </div>
    <div class="d-flex flex-wrap socials justify-content-center align-items-center fs-5">
        <a class="text-black text-decoration-none mx-1" href="#"><i class="bi bi-facebook"></i></a>
        <a class="text-black text-decoration-none mx-1" href="#"><i class="bi bi-instagram"></i></a>
        <a class="text-black text-decoration-none mx-1" href="#"><i class="bi bi-twitter"></i></a>
        <a class="text-black text-decoration-none mx-1" href="#"><i class="bi bi-youtube"></i></a>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="search d-flex flex-row input-group me-3">
            <input type="text" placeholder="Pretraži..." name="searchInput" class="form-control">
            <button type="submit" class="secondary-bg-color btn"><i class="bi bi-search text-white"></i></button>
        </div>
        <div class="me-3 scart">
            <i class="bi bi-cart-fill fs-5"></i>
        </div>
    </div>
</div>
<div class="container-fluid d-flex flex-column justify-content-between secondary-bg-color align-items-center p-2">
    <div class="container d-flex justify-content-center align-items-center">
        <a href="index.html"><img src="images/Logo.png" alt="GameOn" class="img-fluid"></a>
    </div>
    <div class="navbar navbar-expand-lg">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-nav">
            <li class="nav-item"><a class="nav-link p-3 m-0" id="index" href="index.html">Naslovna</a></li>
            <li class="nav-item"><a class="nav-link p-3 m-0" id="products" href="products.html">Proizvodi</a></li>
            <li class="nav-item"><a class="nav-link p-3 m-0" id="about" href="about.html">O nama</a></li>
            <li class="nav-item"><a class="nav-link p-3 m-0" id="blog" href="blog.html">Blog</a></li>
            <li class="nav-item"><a class="nav-link p-3 m-0" id="contact" href="contact.html">Kontakt</a></li>
        </ul>
    </div>
</div>
